<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <h2>MEAN Exercise</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="graphContainer"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4 text-right">
            <button type="button" class="c-button c-button-green fs-15" ng-click="vm.generateResults()" ng-disabled="vm.working"><span class="fa fa-refresh fa-fw"></span>Get results</button>
        </div>
    </div>
</div>
